body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.App {
  display: flex;
}

.user {
  border: 1px solid #000;
  background-color: #fff;
  width: 300px;
  height: 60px;
  margin-bottom: 20px;
  border-radius: 8px;
  cursor: pointer;
  text-align: left;
}
.user:hover {
  color: #fff;
  background-color: #000;
  transition: 0.3s;
}

.user:focus {
  background-color: #000;
  color: #fff;
}

.menu_user {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 20px;
}

.userName {
  font-size: 20px;
  font-weight: 600;
}

.albums {
  margin: 20px 0 0 300px;
  width: 700px;
}
.albums > ul > .album > li {
  list-style-type: none;
  text-align: center;
  border: 1px solid;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.albums > ul > .album > li:hover {
  background-color: #e4e8ed;
  transition: 0.15s;
}

.choseUser {
  margin: 300px 0 0 560px;
  font-size: 34px;
  font-weight: 700;
}
.search_line {
  width: 740px;
  height: 35px;
  border-radius: 8px;
  font-size: 18px;
}